    li {
        /* background-color: aqua; */
        margin-top: 10px;
    }
    
    button {
        margin-left: 10px;
    }
    
    /* li>span {
        word-break: break-all;
        width: 100px;
    } */